@mixin WoodBackground {
  background-image: url('https://foero.innogamescdn.com/assets/shared/gui/window/background_wood.png');
  background-repeat: repeat;
}
@mixin DarkWoodBackground {
  background-image: url('https://foero.innogamescdn.com/assets/shared/gui/window/wood_background.jpg');
  background-repeat: repeat;
}

.close-button {
  background-image: url('https://foero.innogamescdn.com/assets/shared/buttons/closeUp.png');
}
.close-button:active {
  background-image: url('https://foero.innogamescdn.com/assets/shared/buttons/closeDown.png');
}
.settings-button {
  background-image: url('https://foero.innogamescdn.com/assets/shared/buttons/message_center_icon_settings_up.png');
}
.settings-button:active {
  background-image: url('https://foero.innogamescdn.com/assets/shared/buttons/message_center_icon_settings_down.png');
}
