@import 'colors';
@import '_components';
@import '_properties';

* {
  font-family: 'Segoe UI';
  text-shadow: 0 1px 1px $black-65;
  color: $TextColor-Normal !important;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #281207;
  border-radius: 10px;
}

button {
  @include flexAllcenter;
  background-image: url('https://foero.innogamescdn.com/assets/shared/buttons/payNarrowUp.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  width: 95px;
  height: 35px;
  margin: 5px;
}
button:hover {
  background-image: url('https://foero.innogamescdn.com/assets/shared/buttons/payNarrowOver.png');
}
