@import 'colors';
@import '_components';
@import '_properties';

* {
  font-family: 'Segoe UI';
  text-shadow: 0 1px 1px $black-65;
  color: $TextColor-Normal !important;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background: #8591a5;
  border-radius: 3px;
}
.flexRow {
  @include flexAllcenter;
  flex-direction: row;
  flex-wrap: wrap;
}
.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
