@import '../../../styles/properties';
@import '../../../styles/components';
.armyContainer {
  width: 90%;
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  overflow-x: scroll;
}

.unitFrame {
  width: 60px;
  height: 65px;
  background-image: url('https://foero.innogamescdn.com/assets/shared/gui/armyunitmanagement/army_defence_city_bg_slot1.png');
  background-repeat: no-repeat;
  margin: 3px;
  background-size: 100% 100%;
}
.frameContainer {
  width: 90%;
  height: 100%;
  @include flexAllcenter;
  flex-direction: column;
  margin: 0px auto;
}
.healthbar {
  width: 49px;
  height: 6px;
  display: flex;
  justify-content: space-between;
}
.healthGreen {
  background-image: url('https://foero.innogamescdn.com/assets/shared/icons/healthpoint_green.png');
}
.healthRed {
  background-image: url('https://foero.innogamescdn.com/assets/shared/icons/healthpoint_red.png');
}
.healthBlue {
  background-image: url('https://foero.innogamescdn.com/assets/shared/icons/healthpoint_blue.jpg');
}
.healthGold {
  background-image: url('https://foero.innogamescdn.com/assets/shared/icons/healthpoint_gold.png');
}
.healthPoint {
  display: inline-block;
  background-repeat: no-repeat;
  width: 4px;
  height: 6px;
}

@mixin baseBorder {
  border: solid;
  border-image-slice: 1;
  border-width: 3px;
}
.blueBorder {
  @include baseBorder;
  border-image-source: linear-gradient(to bottom, #6a77d7, #2c3880);
}
.goldBorder {
  @include baseBorder;
  border-image-source: linear-gradient(to bottom, #cea765, #905d28);
}
.redBorder {
  @include baseBorder;
  border-image-source: linear-gradient(to bottom, #ce6565, #902828);
}

.poolWrapper {
  background-image: url('https://foero.innogamescdn.com/assets/shared/gui/armyunitmanagement/unitPoolBgBottom.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-left: 14px;
  padding-right: 14px;
  height: 370px;
}

.poolHeader {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  height: 38px;
}
.poolTab {
  width: 39px;
  height: 33px;
  @include flexAllcenter;
  margin-right: 10px;
}
.poolContent {
  width: 625px;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  overflow-x: auto;
}

.arrow-closed,
.arrow-open {
  border: solid #999;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  position: absolute;
  right: 10px;
}

.arrow-closed {
  top: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-open {
  top: 14px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;

  background-image: url('https://foero.innogamescdn.com/assets/shared/gui/conversations/blue_button_down.png');
  color: #c6cfdd;
  cursor: default;
  outline: none;
  padding: 7px 52px 10px 16px;
  transition: all 200ms ease;
  min-width: 135px;
  height: 30px;
  background-size: 100% 100%;
}

.Dropdown-placeholder {
  color: #c6cfdd;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: #404a62;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  margin-top: -1px;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1.2);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  background-image: url('https://foero.innogamescdn.com/assets/shared/gui/components/combobox_list_center_top_hud.png');
  cursor: pointer;
  display: block;
  padding: 6px 10px;
  color: #979fb2;
  overflow: hidden;
}
.Dropdown-option:nth-child(even) {
  background-image: url('https://foero.innogamescdn.com/assets/shared/gui/components/combobox_list_center_dark.png');
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  color: #888e9c;
}

.Dropdown-option.is-selected {
  background-color: #2a2a2a;
  color: #c6cfdd;
}

.Dropdown-noresults {
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.showcaseWrapper {
  @include flexAllcenter;
}
.selbutton {
  background-size: cover;
  width: 18px;
  height: 18px;
  background-image: url('https://foero.innogamescdn.com/assets/shared/gui/chat/buttonHideUp.png');
  cursor: pointer;
}
.selbutton:hover {
  background-image: url('https://foero.innogamescdn.com/assets/shared/gui/chat/buttonHideOver.png');
}
.selbtndown {
  transform: rotateX(180deg);
}
.removeBtn {
  background-size: cover;
  width: 23px;
  height: 23px;
  background-image: url('https://foero.innogamescdn.com/assets/shared/buttons/kick_button_up.png');
  cursor: pointer;
}
.removeBtn:hover {
  background-image: url('https://foero.innogamescdn.com/assets/shared/buttons/kick_button_over.png');
}
.armyContent {
  display: flex;
  flex-wrap: nowrap;
  width: 370px;
  height: 50px;
}
.armyWrapper {
  @include DarkWoodBackground;
  height: 200px;
  width: 460px;
  overflow-y: auto;
  padding: 10px;
}
.armyItem {
  @include WoodBackground;
  @include flexAllcenter;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: cell;
}

.attackbtn {
  background-size: cover;
  width: 50px;
  height: 50px;
  background-image: url('https://foero.innogamescdn.com/assets/shared/gui/armyunitmanagement/army_red_att_deselected_hover.png');
  cursor: pointer;
}

.attackbtnselected {
  background-image: url('https://foero.innogamescdn.com/assets/shared/gui/armyunitmanagement/army_red_att.png');
}

.typeGvG {
  background-size: cover;
  width: 50px;
  height: 50px;
  background-image: url('https://foero.innogamescdn.com/assets/shared/gui/armyunitmanagement/army_green_att_hover.png');
  cursor: pointer;
}

.typeGvGselected {
  background-image: url('https://foero.innogamescdn.com/assets/shared/gui/armyunitmanagement/army_green_att_deselected.png');
}
.eraPool {
  margin: auto 0 auto auto;
}
