@import '../../styles/colors';
@import '../../styles/properties';
.checkboxBody {
  background-image: url('https://foero.innogamescdn.com/assets/shared/gui/window/checkbox_icon_large.png');
  background-size: cover;
  width: 171px;
  height: 30px;
  @include flexHcenter;
  flex-direction: row;
  cursor: pointer;
  margin: 5px;
}

.checkboxLabel {
  height: 100%;
  width: 142px;
  color: $TextLightBlue !important;
  @include flexHcenter;
  justify-content: flex-start;
  padding-left: 10px;
}
.checkboxChecked {
  width: 26px;
  height: 26px;
  background: url('https://foero.innogamescdn.com/assets/shared/gui/window/checkbox_tick.png');
  background-size: cover;
  @include flexAllcenter;
}
