@import '../../../styles/properties';
@import '../../../styles/components';

.productionContainer {
  @include DarkWoodBackground;

  width: 90%;
  padding: 10px;

  margin-top: 10px;

  height: 70%;
  position: relative;
}

.productionWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  overflow-y: auto;
}

.savedBuildingBody {
  width: 145px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addBuilding {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.selectedItem {
  width: 70px;
  height: 70px;
  margin: 5px;
  @include flexAllcenter;
}
.selectedBorder {
  border: 2px solid greenyellow;
}

.buildingsWrapper {
  @include DarkWoodBackground;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  width: 90%;
  height: 250px;
  overflow-y: auto;
  justify-content: flex-start;
}
